$yellow: #FFD200;
$black: #000000;
$blue: #0095FF;

$textColorPrimary: black;
$textColorSecondary: rgba(0,0,0,.3); // closer to tertiary, but i'm in a hurry

$textColorPrimaryInverted: white;
$textColorSecondaryInverted: rgba(255,255,255, .6);

$textWeightRegular: 400;
$textWeightLight: 300;

#outer{
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: black;	
	color: white;
	
	display: table;
    table-layout: fixed;
    border-spacing: 150px 10px;

	.unit{
		display: table-cell;
	}
}

.wrap{
	position: relative;
	width: 100%;
	height: 100%;
	.frame{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
}


$col_spacing: 50px;
$screen_h: 860px;
$cards_per_column: 4;
$card_h: $screen_h / $cards_per_column;


.card{
	height: $card_h;
	overflow: hidden;
	border-top: 16px solid black;
	@include box-sizing(border-box);
	margin: 0;
	background-color: #ccc;
	@include transition( background-color .2s linear .1s);
	color: $textColorPrimary;
	font-size: $basefont;
	&.new{
		background-color: #fff;
	}

	.doc_content{
		@include box-sizing(border-box);		
	}
	.small{
		font-size: $basefont * .5;
	}
}

.muted{
	color: $textColorSecondary;	
	.inverted &	{
		color: $textColorSecondaryInverted;			
	}
}

.promo_info, #translator{
	line-height: 1.3;
	p{
		margin-bottom: 24px;
	}
}

.vertical_center{
	display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.big{
	font-size: 110px;
	line-height: 1em;
}
.medium{
	font-size: 60px;
}
.mediumer{
	font-size: 45px;
}


.promo_info{
	background: $yellow;
	height: 100%;
	color: $black;
	

	.blue{
		color: $blue;
	}
}
.promo_animation{
	background: red url('/static/images/pokemon.gif'); 
	background-size: cover; 
	width: 100%; 
	height: 100%;
}

#translator{
	height: 100%;
	width: 100%;
	@include perspective( 800 );
	position: absolute;
	bottom: 0;
	left: 0;
	
	&.flipped{
		.flipper{
			@include rotateX(-180deg);
		}
	}
	
	.flipper{
		@include transition( all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) );
		@include transform-style( preserve-3d );
		position: relative;
		width: 100%;
		height: 100%;
		
		.front, .back{
			@include backface-visibility( hidden );
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@include transition( none );
		}

		.front{
			z-index: 2;
		}

		.back{
			@include rotateX(180deg);
		}
	}
	
	
	.card{
		background: $blue;
		color: white;
		border: 0;
		&.success{
			background: green;
		}
		&.abject_failure{
			background: red;
		}
	}


}

