@include keyframes(swing){
	
}

$yellow: #FFD200;
$black: #000000;
$blue: #0095FF;

#outer{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: black;
	@include box-sizing(border-box);
	color: white;

}


$col_spacing: 50px;
$screen_h: 600px;
$cards_per_column: 4;
$card_h: $screen_h / $cards_per_column;

.col{
	position: relative;
	padding-right: $col_spacing;
	.frame{
		position: absolute;
		bottom: 0;
		left: 0;
		width: calc(100% - #{$col_spacing});
	}
}

.card{
	height: $card_h;
	overflow: hidden;
	border-top: 16px solid black;
	@include box-sizing(border-box);
	margin: 0;
	background-color: #ccc;
	@include transition( background-color .2s linear .1s);
	&.new{
		background-color: #fff;
	}
	.doc_content{
		@include box-sizing(border-box);		
	}
}



.promo_info{
	background: $yellow;
	height: 100%;
	color: $black;
	h1, h2{
		color: $blue;
	}
}
.promo_animation{
	background: red url('/static/images/pokemon.gif'); 
	background-size: cover; 
	width: 100%; 
	height: 100%;
}

#translator{
	height: 100%;
	width: calc(100% - #{$col_spacing});
	@include perspective( 800 );
	position: absolute;
	bottom: 0;
	left: 0;
	
	&.flipped{
		.flipper{
			@include rotateX(-180deg);
		}
	}
	
	.flipper{
		@include transition( all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) );
		@include transform-style( preserve-3d );
		position: relative;
		width: 100%;
		height: 100%;
		
		.front, .back{
			@include backface-visibility( hidden );
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.front{
			z-index: 2;
		}

		.back{
			@include rotateX(180deg);
		}
	}
	
	
	.card{
		background: $blue;
		color: white;
		border: 0;
		&.success{
			background: green;
		}
		&.abject_failure{
			background: red;
		}
	}


}

